html {
  display: table;
  margin: auto;
  margin-top: 30px;
}

body {
  font-family: "Exo 2";
  background-color: black;
  color: white;
}

.header-div {
  display: flex;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  align-items: center;
  margin-left: 180px;
  position: relative;
  top: 20px;
  z-index: -1;
  margin-top: -45px;
}

.s1-header {
  margin-right: 15px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.all-lan {
  background-color: #333333;
  max-width: 800px;
  text-align: center;
  padding: 0px 50px 30px 50px;
  border-radius: 20px 0px 20px 0px;
  z-index: 999;
}

.all-lan h2 {
  position: relative;
  top: 8px;
}

.valve-majors {
  margin-bottom: 10px;
}

h3,
ul.comp-stat {
  font-weight: 100;
  background-color: #444444;
  padding: 3px;
  margin: 1px;
}

h3 {
  font-weight: 400;
}

.stats-div {
  display: flex;
  justify-content: center;
  margin: auto;
}

.each-div {
  margin: 1px;
}

.stats-block {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.s1-div .stats-block {
  flex-direction: row-reverse;
}

.dev-div .stats-block {
  display: flex;
  justify-content: flex-start;
}

.li-stats {
  display: flex;
  flex-direction: column;
  margin: 0.5px;
  height: 65px;
  justify-content: center;
}

.number {
  font-weight: 900;
  margin-top: auto;
}

.mvp .number {
  font-size: 2.8rem;
}

.lans-won .number {
  font-size: 2.4rem;
}

.lans-played .number {
  font-size: 1.9rem;
}

.stats-text {
  font-size: 0.8rem;
}

.lans-played .stats-text {
  margin-top: 5px;
}

.mvp .stats-text {
  position: relative;
  bottom: 2px;
}

.s1-stats {
  color: rgba(0, 185, 191, 1);
}

.mvp {
  padding: 10px 40px 10px 40px;
  width: 80px;
}

.lans-won {
  padding: 10px 30px 10px 30px;
  width: 60px;
}

.lans-played {
  padding: 10px 20px 10px 20px;
  width: 40px;
}

.s1-div .mvp {
  background-color: rgba(0, 185, 191, 1);
}

.s1-div .lans-won {
  background-color: rgba(0, 185, 191, 0.7);
}

.s1-div .lans-played {
  background-color: rgba(0, 185, 191, 0.4);
}

.dev-stats {
  color: rgb(248, 66, 66);
}

.dev-div .mvp {
  background-color: rgba(191, 0, 0, 1);
}

.dev-div .lans-won {
  background-color: rgba(191, 0, 0, 0.7);
}

.dev-div .lans-played {
  background-color: rgba(191, 0, 0, 0.4);
}

.major-win:before {
  content: "🏆";
  margin-right: 3px;
}

.major-mvp::before {
  content: url(https://www.hltv.org/img/static/event/mvp.png);
  zoom: 0.1;
  position: relative;
  top: 30px;
  margin-right: 35px;
}

.major-mvp {
  padding-bottom: 5px !important;
}

.more-stats {
  font-family: inherit;
  font-weight: 700;
  font-size: 15px;
  margin-top: 1.5rem;
  margin-bottom: 0;
  background-color: #ffd600;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 9999px;
  border: 0px;
  transition: 0.3s;
}

.more-stats:hover {
  background-color: #ffde33;
  transform: scale(1.05);
}

#stats-major-complete {
  background-color: white;
  height: 800px;
  color: black;
}

.popup {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  width: 100%;
  height: 95vh;
  color: black;
  justify-content: center;
  align-items: center;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}

.main-popup {
  position: absolute;
  height: 100%;
  width: 70%;
  z-index: 1;
  background-color: white;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  transform: translateY(100%);
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 0;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ffd600;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 999;
}

.close-btn:hover {
  background-color: #e9c202;
}

.details-title {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 2px 30px 3px rgba(0, 0, 0, 0.1);
  width: 999px;
  position: relative;
  top: -10px;
}

.popup h3,
.popup h2 {
  background: none;
  top: 0;
  margin-top: 20px;
}

.details-list {
  display: flex;
  justify-content: center;
  padding: 0px 50px 30px;
  flex-wrap: wrap;
}

.details-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
}

.details-list h4 {
  text-transform: uppercase;
  margin-block-end: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 220px;
  text-align: center;
  padding: 5px 0px;
}

.details-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 0;
  padding: 0px;
}

.details-list li {
  list-style-type: none;
  padding: 17px 20px 35px;
  width: 70px;
  height: 36px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.s1-detailed-stat {
  background-color: rgba(0, 185, 191, 0.7);
}

.dev-detailed-stat {
  background-color: rgba(191, 0, 0, 1);
}

.five-dig {
  font-size: 25px !important;
}

.s1-detailed-stat::after,
.dev-detailed-stat::after {
  font-size: 15px;
  position: relative;
  top: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.7);
  font-weight: 100;
}

.s1-detailed-stat::after {
  content: "\a\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0s1mple\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  right: 22px;
}

.dev-detailed-stat::after {
  content: "\a\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 device\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  right: 20px;
}

.five-dig::after {
  top: 11px;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
