:root {
  --device: 223, 86, 22;
  --s1mple: 0, 185, 191;
  --s1text: 's1mple';
  --devtext: 'device';
}

html {
  display: table;
  margin: auto;
  scroll-behavior: smooth;
}

body {
  font-family: "Exo 2";
  background-color: #0b0e13;
  color: white;
}

/* HEADER SETINGS */
.header-div {
  display: flex;
  font: normal normal 900 30px "Exo 2";
  text-align: center;
  margin-left: 130px;
  position: relative;
  height: 200px;
  top: 10px;
  margin-bottom: -10px;
}

.player-pics {
  position: relative;
  top: 0;
  left: 0;
}

.player-names {
  width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin-left: 35px;
}

.team-logo {
  width: 150px;
  opacity: 0.3;
  position: relative;
  left: 20px !important;
}

.player-pic {
  max-width: 200px;
  max-height: 200px;
  position: absolute;

  left: 0;
}

#search-players {
  margin: 0px 45px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;

  color: black;
  width: 230px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.each-item {
  height: 15px;
  display: flex;
  align-items: center;
}

.each-item:before {
  position: relative;
  content: var(--bg-image);
  top: 3px;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

input {
  z-index: 1;
  /* border-radius: 999px; */
  padding: 5px 10px;
  text-align: center;
  position: relative;
  outline: none;
}

/* #input-1 {
  left: 80px
}

#input-2 {
  right: 35px
} */

#input-2-autocomplete-list {
  left: 0px !important;
}

/* STATS BOXES SETTINGS */
.all-lan {
  background-color: #333333;
  max-width: 800px;
  text-align: center;
  padding: 0px 50px 30px 50px;
  border-radius: 20px 0px;
}

.all-lan h2 {
  padding-top: 18px;
}

.material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 18px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  position: relative;
  top: 3px;
  color: rgba(0, 0, 0, 0.75);
  transition: 0.3s;
  cursor: pointer;
}

.material-icons-outlined:hover {
  color: rgba(0, 0, 0, 1);
}

h3,
ul.comp-stat {
  font-weight: 100;
  background-color: #444444;
  padding: 3px;
  margin: 1px;
}

h3 {
  font-weight: 400;
}

.stats-div {
  display: flex;
  justify-content: center;
  margin: auto;
}

.each-div {
  margin: 1px;
}

.stats-block {
  display: flex;
  padding-left: 0px;
}

.s1-div .stats-block {
  flex-direction: row-reverse;
}

.li-stats {
  display: flex;
  flex-direction: column;
  margin: 0.5px;
  height: 65px;
  justify-content: center;
  align-items: center;
}

.number {
  font-weight: 900;
  margin-top: auto;
}

.mvp .number {
  font-size: 2.8rem;
}

.lans-won .number {
  font-size: 2.4rem;
}

.lans-played .number {
  font-size: 1.9rem;
}

.stats-text {
  font-size: 0.8rem;
}

.lans-played .stats-text {
  margin-top: 5px;
}

.mvp .stats-text {
  position: relative;
  bottom: 2px;
}

.s1-stats {
  color: rgba(0, 185, 191, 1);
}

.mvp {
  padding: 10px 40px;
  width: 80px;
}

.lans-won {
  padding: 10px 30px;
  width: 60px;
}

.lans-played {
  padding: 10px 20px;
  width: 40px;
}

.s1-div .mvp {
  background-color: rgba(var(--s1mple), 1);
}

.s1-div .lans-won {
  background-color: rgba(var(--s1mple), 0.7);
}

.s1-div .lans-played {
  background-color: rgba(var(--s1mple), 0.4);
}

.dev-stats {
  color: rgb(var(--device));
}

.dev-div .mvp {
  background-color: rgba(var(--device), 1);
}

.dev-div .lans-won {
  background-color: rgba(var(--device), 0.7);
}

.dev-div .lans-played {
  background-color: rgba(var(--device), 0.4);
}

.major-win:before {
  content: "🏆";
  margin-right: 3px;
}

.major-mvp::before {
  content: url(https://www.hltv.org/img/static/event/mvp.png);
  zoom: 0.1;
  position: relative;
  top: 30px;
  margin-right: 35px;
}

.major-mvp {
  padding-bottom: 5px !important;
}

.btn {
  background-color: #ffd600;
  cursor: pointer;
  border: 0px;
  transition: 0.5s;
  padding: 10px 20px;
  font: normal normal 700 15px "Exo 2";
  margin-bottom: 0;
  border-radius: 9999px;
}

.more-stats {
  margin-top: 1.5rem;
}

.btn:hover {
  background-color: #ffde33;
  transform: scale(1.05);
}

.popup {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  width: 100%;
  height: 95vh;
  color: black;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup-overlay {
  display: none;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.main-popup {
  position: absolute;
  height: 100%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  transform: translateY(100%);
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

@media screen and (min-width: 1600px) {
  .popup {
    height: 70vh !important;
  }

  .details-title {
    top: -30px !important;
    bottom: 30px !important;
  }

  .close-btn {
    top: 0px !important;
  }
}

@media screen and (max-width: 1000px) {
  .btn {
    color: black !important;
  }
  .popup {
    top: 12.5vh !important;
    height: 67vh !important;
  }

  .details-title {
    top: -30px !important;
  }

  .close-btn {
    top: 0px !important;
  }

  .title {
    position: absolute;
    top: 20px;
    background: silver;
    padding: 4px;
    left: 0;
    text-transform: none;
    max-width: 20vw;
  }
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 0;
  text-transform: uppercase;
  z-index: 999;
  border-radius: 0;
}

.close-btn:hover {
  background-color: #e9c202;
}

.details-title {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 2px 30px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  top: -10px;
  padding: 20px;
  right: 20px;
}

.popup h3,
.popup h2 {
  background: none;
  top: 0;
  margin-top: 20px;
  padding: 0px;
}

.details-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.details-list-container {
  padding: 0px 25px;
}

.details-list h4 {
  text-transform: uppercase;
  margin-block-end: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 0px;
  cursor: default;
  position: relative;
}

.details-list ul {
  display: flex;
  margin-block-start: 0;
  padding: 0px;
}

.details-list li {
  list-style-type: none;
  padding: 17px 20px 35px;
  width: 70px;
  height: 36px;
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.s1-detailed-stat {
  background-color: rgba(var(--s1mple), 0.7);
}

.dev-detailed-stat {
  background-color: rgba(var(--device), 1);
}

.five-dig {
  font-size: 25px !important;
}

.s1-detailed-stat::after,
.dev-detailed-stat::after {
  font-size: 15px;
  position: relative;
  top: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.7);
  font-weight: 100;
}

.s1-detailed-stat::after {
  content: var(--s1text);
  display: inline-block;
  width: 110px; 
  right: 20px;
}

.dev-detailed-stat::after {
  content: var(--devtext);
  display: inline-block;
  width: 110px; 
  right: 20px;
}

.five-dig::after {
  top: 14px;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes slide-out200 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200%);
  }
}

#s1-rating,
#dev-rating {
  font-size: 2.3rem;
}

#s1-maps,
#dev-maps {
  font-size: 2.5rem;
}

#s1-impact,
#dev-impact {
  font-size: 1.6rem;
}

.maps-text {
  bottom: 0px !important;
}

.rating-text {
  white-space: nowrap;
}

.loading img {
  width: 30px;
}

.loading-player {
  width: 130px;
  left: 30px;
  top: 10px
}

.container-hltv {
  margin-top: 15px;
  color: silver;
  text-align: center;
  margin-bottom: 15px;
}

.new-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.dropdown-dates {
  margin: 0px 5px;
  height: 15px;
  padding: 5px;
  box-sizing: content-box;
}

.dropdowns {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
  margin-top:5px
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.labels label {
  padding: 3px 0px;
}